<!DOCTYPE HTML>
<h1 style="text-align: center;"><span style="color: #993366;">Welcome to our College!<span style="background-color: #ffffff;"></span></span></h1>
<p>&nbsp;</p>
<p><span style="background-color: #cc99ff;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.pinimg.com/736x/52/37/e5/5237e5a2a1663599efa80217dd23e824--colleges-happiness-is.jpg" alt="" width="500" height="500" /></span></p>
<p>&nbsp;</p>
<h3><strong><span style="color: #993366;">Offered Courses:&nbsp;<a title="Courses" href="/college/courses" target="_blank" rel="noopener">/college/courses</a></span></strong></h3>
<h3><strong><span style="color: #993366;">Our Students:&nbsp;&nbsp;<a title="Students" href="/college/students" target="_blank" rel="noopener">/college/students</a></span></strong></h3>